/*font-family: 'DM Serif Text', serif;
font-family: 'Koulen', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/*Universal Styling*/
h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 10rem;
}

h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 5rem;
}

h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 3rem;
}

h4 {
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #6A6767;
}

ul {
    list-style-type: none;
}

button {
    width: 22rem;
    padding: 1.7rem;
    border-radius: 2rem;
    border: none;
    background-color: #FFD4A2;
    -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    font-family: 'DM Serif Text', serif;
}

/*Navigation Bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.91);
    position:fixed;
    width:100%;
}

.links {
    display: flex;
    gap: 1.5rem;
}

/*Hero Banner*/
#heroBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: url(images/heroBG.jpg) no-repeat;
    background-size:cover;
    height: 70rem;
    background-attachment: fixed;
    padding: 7rem;
}

#heroBanner h3,
#heroBanner h1 {
    color:white;
}

.iconCircle {
    background-color: black;
    padding: 1.5rem;
    border-radius: 50%;
}

.iconCircle:hover {
    animation: iconCircle .5s;
    transition-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.fa-solid {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: center;
}

@keyframes iconCircle {
    100% {
        padding: 2rem;
    }
}

/*Info Block 1*/
#infoBlock1 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 40rem;
}

#infoBlock1 .left {
    padding: 20rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#infoBlock1 h3 {
    font-size: 2rem;
    color: #FFC329;
}

#infoBlock1 .right {
    display: grid;
    grid-template-columns: repeat(5, ifr);
    align-items: center;
}

.matcha, .lychee {
    grid-row: 1/2;
}

.matcha {
    grid-column: 1/3;
    margin-bottom: 30rem;
    animation: floatUp 4s infinite;
    animation-timing-function: linear;
}

.lychee {
    grid-column: 2/5;
    margin-bottom: 50rem;
    animation: floatDown 4s infinite;
    animation-timing-function: linear;
}

@keyframes floatDown {
    
    50% {
        margin-bottom: 45rem;
    }

    to {
        margin-bottom: 50rem;
    }
}

@keyframes floatUp {
    50% {
        margin-bottom: 33rem;
    }
    to {
        margin-bottom: 30rem;
    }
}

/*Info Block 2*/
#infoBlock2 {
    padding: 4rem;
    background-color: #FFC329;
    margin: 0rem 35rem 10rem 35rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.icon {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.icon img {
    width: 10rem;
}

/*Testimonials*/

/*News Article*/
#newsArticle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0rem;
}

/*Business Hours*/
#hours {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #28190E;
    width: 100%;
    padding: 10rem 4rem;
}

#hours .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 10rem;
    margin-bottom: 50rem;
}

#hours .left h3 {
    color:#FFC329;
    font-size: 2rem;
}

#hours .left h2 {
    color:white;
}

#hours .left p {
    color:white;
}

#hours .left button {
    background-color: #FFC329;
    padding: 1rem;
    margin: 2rem 0;
}

#hours .right {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#hours .right h3,
#hours .right p {
    color:white;
}

#bethlehem, 
#palmer,
#berkshire {
    display: flex;
    flex-direction: column;
}

#hours .right .times {
    display: flex;
    gap: 5rem;
    padding: 5rem 3rem;
    background-color: #0E0600;
    margin: 1rem;
    border-radius: 3rem;
}

/*Gallery*/