/*font-family: 'DM Serif Text', serif;
font-family: 'Koulen', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

/*Universal Styling*/
h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 10rem;
}

h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 5rem;
}

h3 {
    font-family: 'Koulen', sans-serif;
    font-size: 3rem;
}

h4 {
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #6A6767;
}

ul {
    list-style-type: none;
}

button {
    width: 22rem;
    padding: 1.7rem;
    border-radius: 2rem;
    border: none;
    background-color: #FFD4A2;
    -webkit-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px -7px rgba(0,0,0,0.75);
    font-family: 'DM Serif Text', serif;
}

/*Navigation Bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.91);
}

.links {
    display: flex;
    gap: 1.5rem;
}

/*Hero Banner*/
#heroBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: url(images/heroBG.jpg) no-repeat;
    background-size:cover;
    height: 50rem;
    background-attachment: fixed;
}

#heroBanner h3,
#heroBanner h1 {
    color:white;
}

.iconCircle {
    background-color: black;
    padding: 1.5rem;
    border-radius: 50%;
}

.iconCircle:hover {
    animation: iconCircle 2s;
    transition-timing-function: ease-out;
}

.fa-solid {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: center;
}

@keyframes iconCircle {
    100% {
        padding: 2rem;
    }
}
